<!-- <div class="" style="background: red"> -->
<nav class="main-menu" [ngClass]="{ collapsed: isCollapsed }">
  <div
    style="height: 200px"
    class="d-flex flex-column justify-content-center align-items-center"
  >
    <img
      *ngIf="!isCollapsed"
      alt="logo"
      style="width: 100px"
      src="/assets/img/authentication/images-removebg-preview.png"
    />
    <span class="mt-2" style="color: red" *ngIf="!isCollapsed">
      آرشیو الکترونیکی اسناد بانک کشاورزی
    </span>
  </div>
  <ul>
    <li
      class="nav-item active"
      *ngFor="let item of menu"
      [class.active]="isActive(item.path!)"
    >
      <ng-container *ngIf="isActive(item.path!)">
        <b></b>
        <b></b>
      </ng-container>
      <a
        href="#"
        *ngIf="item.children!.length === 0"
        [routerLink]="item.path"
        [class.active]="isActive(item.path!)"
        (click)="setActive(item.path!, item, $event); $event.preventDefault()"
      >
        <i class="bi" [ngClass]="item.icon"></i>
        <span
          class="nav-text"
          [style.display]="isCollapsed ? 'none' : 'inline'"
          >{{ item.title }}</span
        >
      </a>
      <!-- منوی دو سطحی -->
      <div *ngIf="item.children!.length > 0">
        <b></b>
        <b></b>
        <a
          href="#"
          [style.color]="hasActiveChild(item.children) ? 'orange' : ''"
          style="width: 100%; margin-bottom: 20px"
          (click)="toggleSubMenu(item); $event.preventDefault()"
        >
          <i class="bi" [ngClass]="item.icon"></i>

          <span
            class="nav-text"
            [style.display]="isCollapsed ? 'none' : 'inline'"
            >{{ item.title }}</span
          >
          <div>
            <i
              *ngIf="!isCollapsed"
              class="bi p-2"
              [ngClass]="item.open ? 'bi-chevron-up' : 'bi-chevron-down'"
            ></i>
            <i
              *ngIf="isCollapsed"
              class="bi bi-chevron-left"
              (click)="toggleSidebar(); toggleSubMenu(item)"
            ></i>
          </div>
        </a>

        <ul *ngIf="item.open">
          <li
            *ngFor="let child of item.children"
            class="nav-item"
            [class.active]="isActive(child.path!)"
          >
            <ng-container *ngIf="isActive(child.path!) || !isCollapsed">
              <b></b>
              <b></b>
            </ng-container>
            <a
              href="#"
              [class.active]="isActive(child.path!)"
              (click)="
                setActive(child.path!, child, $event); $event.preventDefault()
              "
              [routerLink]="child.path"
              *ngIf="!isCollapsed"
            >
              {{ child.title }}
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
  <div class="collapse-button" (click)="toggleSidebar()">
    <i [ngClass]="isCollapsed ? 'bi-chevron-left' : 'bi-chevron-right'"></i>
  </div>
</nav>
<!-- </div> -->
<!-- </div> -->
